@charset "UTF-8";
/*------------------------------------------------------------
全体共通
------------------------------------------------------------*/
html {
  font-size: 100%;
  scroll-behavior: auto;
}

body {
  color: #2e2e2e;
  background-color: #FFF;
  font-size: 16px;
  font-family: "Noto Sans JP", system-ui;
}
body p,
body a,
body h1,
body h2,
body h3,
body h4,
body h5,
body li {
  color: #2e2e2e;
}
body p {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 190%;
}
@media screen and (max-width: 1024px) {
  body p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 767px) {
  body p {
    font-size: 0.875rem;
  }
}
body a {
  color: #2e2e2e;
  font-size: 0.875rem;
  font-weight: 900;
  text-decoration: none;
  transition: 0.3s;
}
body img {
  max-width: 100%;
  vertical-align: bottom;
}
body li {
  list-style: none;
}
body h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 0px auto 60px;
}
@media screen and (max-width: 1210px) {
  body h2 {
    font-size: 1.375rem;
  }
}
body h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}
body .title02 {
  font-size: 60px;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  body .title02 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  body .title02 {
    font-size: 2rem;
  }
}
body .title02 .sub-title {
  color: #0285FE;
  font-size: 14px;
  font-weight: bold;
}
body .wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 0 80px;
}
@media screen and (max-width: 1024px) {
  body .wrapper {
    padding: 60px 0 40px;
  }
}

.blue {
  color: #0285FE;
}

section {
  padding: 100px 0;
}
@media screen and (max-width: 1210px) {
  section {
    padding: 80px 0px;
  }
}
@media screen and (max-width: 1024px) {
  section {
    padding: 60px 10px;
  }
}
@media screen and (max-width: 767px) {
  section {
    padding: 30px 10px;
  }
}

.section__wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.btn01 {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0285FE;
  border: 1px solid #0285FE;
  border-radius: 50px;
  padding: 16px;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .btn01 {
    font-size: 0.875rem;
    max-width: 210px;
  }
}
.btn01:hover {
  color: #0285FE !important;
  background: #fff !important;
}

.br-sp {
  display: none;
}

/*------------------------------------------------------------
ヘッダー
------------------------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 998;
  padding: 16px 20px;
  top: 0;
  right: 0;
  width: 100%;
  transition: background-color 0.3s ease;
}
#header.scrolled {
  background: #fff;
}
#header li a {
  font-size: 0.9375rem;
}
#header .logo {
  display: flex;
  align-items: flex-end;
}
#header .logo a {
  display: block;
}
#header .logo .site-logo {
  width: 230px;
}
@media screen and (max-width: 900px) {
  #header .logo .site-logo {
    max-width: 170px;
  }
}

.nav_pc {
  display: flex;
}
.nav_pc ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_pc ul li {
  margin-right: 46px;
}
.nav_pc ul li a:hover {
  opacity: 0.7;
}

.contact {
  font-size: 0.8125rem;
  font-weight: 600;
  display: flex;
  color: #fff;
  background-color: #0285FE;
  border: 1px solid #0285FE;
  padding: 12px 26px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}
.contact .fa-regular {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.contact:hover {
  color: #0285FE !important;
  background: #fff !important;
}

.contact:hover {
  opacity: 0.9;
}

.nav_sp .nav_content h1 {
  color: #FCFCFC;
  font-size: 1.25rem;
  margin: 0 0 30px 20px;
}
.nav_sp .nav_list li {
  text-align: center;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}
.nav_sp .contact {
  width: 150px;
  padding: 10px;
  margin: auto;
}
.nav_sp .contact:hover {
  color: #fff !important;
  background: #0285FE !important;
}

@media screen and (max-width: 900px) {
  #header .nav_pc ul {
    display: none;
  }
  #header .contact {
    display: none;
  }
}
/*------------------------------------------------------------
ハンバーガーメニュー 
------------------------------------------------------------*/
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 50px; /* 幅を設定してボックスのサイズを決定 */
  height: 50px; /* 高さを設定してボックスのサイズを決定 */
  z-index: 9999;
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #0285FE;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
  width: 210px;
  height: 100%;
  position: fixed;
  top: 0%;
  right: -210px;
  z-index: 999;
  transition: 0.5s;
  padding-top: 20px;
  background: #fff;
  box-shadow: -10px 0 35px -20px rgba(0, 0, 0, 0.25);
}
.nav_content .nav_list {
  list-style: none;
  margin-top: 3rem;
}
.nav_content .nav_list .nav_item a {
  color: #2e2e2e;
  text-decoration: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  right: 0;
}

@media screen and (min-width: 901px) {
  /* ハンバーガーボタン */
  .drawer_open {
    display: none;
  }
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    display: none;
  }
}
/*------------------------------------------------------------
フッター
------------------------------------------------------------*/
#footer {
  background-color: #222222;
  padding-bottom: 20px;
}
#footer .footer-inner {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  #footer .footer-inner {
    padding: 0 15px;
  }
}
#footer a {
  color: #fff !important;
  font-weight: 400;
  font-size: 0.8125rem;
}
@media screen and (max-width: 1024px) {
  #footer a {
    font-size: 0.75rem;
  }
}
#footer img {
  width: 170px;
}
@media screen and (max-width: 1024px) {
  #footer img {
    width: 130px;
  }
}
#footer .wrapper {
  padding: initial;
}
@media screen and (max-width: 1024px) {
  #footer .wrapper {
    margin: 0px auto 20px;
  }
}
#footer .flex {
  display: flex;
  align-items: start;
  padding: 40px 0;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  #footer .flex {
    flex-direction: column-reverse;
  }
}
#footer .copyright {
  font-size: 0.625rem;
  text-align: left;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  #footer li {
    margin-right: 2em;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: white;
  border-radius: 60px;
  padding: 18px;
  box-shadow: rgba(123, 123, 123, 0.3) 0px 0px 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.scroll-to-top:hover {
  opacity: 0.8 !important;
}
@media screen and (max-width: 1024px) {
  .scroll-to-top {
    padding: 8px;
    border-radius: 50%;
    display: flex;
  }
}

.scroll-to-top__icon {
  max-width: 25px;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .scroll-to-top__icon {
    max-width: 14px;
  }
}

/* 表示時のスタイル */
.scroll-to-top.show {
  opacity: 1;
  /* 不透明 */
  visibility: visible;
  /* 表示 */
}

/*------------------------------------------------------------
MV
------------------------------------------------------------*/
#mainvisual {
  position: relative;
  padding: 0;
}
#mainvisual .mv__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  #mainvisual .mv__content {
    flex-direction: column-reverse;
    overflow: hidden;
    gap: 40px;
  }
}
#mainvisual .mv__catchcopy__box {
  position: absolute;
  top: 60%;
  left: 6.4%;
  z-index: 1;
  transform: translate(0%, -50%);
  opacity: 0;
  /* 最初は透明 */
}
@media screen and (max-width: 767px) {
  #mainvisual .mv__catchcopy__box {
    position: relative;
    transform: initial !important;
    left: initial;
  }
}
#mainvisual .mv__catchcopy {
  font-size: 3.625rem;
  font-weight: 900;
  line-height: 139%;
  margin-bottom: 0.5em;
  position: relative;
}
@media screen and (max-width: 1210px) {
  #mainvisual .mv__catchcopy {
    font-size: clamp(18px, 2vw + 1rem, 3.625rem);
  }
}
@media screen and (max-width: 767px) {
  #mainvisual .mv__catchcopy {
    text-align: center;
  }
}
#mainvisual .mv__catchcopy::before {
  content: "";
  width: clamp(120px, 20vw, 300px);
  height: clamp(10px, 1.5vw, 20px);
  position: absolute;
  left: -2.2%;
  /* 位置はそのまま */
  bottom: -7%;
  background-image: url(../img/deco-title.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
}
@media screen and (max-width: 767px) {
  #mainvisual .mv__catchcopy::before {
    left: 50%;
    transform: translate(-50%, 0%);
  }
}
#mainvisual .mv__catchcopy.reveal::before {
  animation: reveal 0.5s forwards;
  /* アニメーションを適用 */
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}
#mainvisual .mv__catchcopy .blue {
  font-size: 3.9375rem;
}
@media screen and (max-width: 1210px) {
  #mainvisual .mv__catchcopy .blue {
    font-size: clamp(20px, 2.2vw + 1rem, 3.9375rem);
  }
}
#mainvisual .mv__catchcopy__desc {
  font-size: clamp(1rem, 1.05vw, 1.125rem);
  font-weight: bold;
  line-height: 185%;
}
@media screen and (max-width: 767px) {
  #mainvisual .mv__catchcopy__desc {
    text-align: center;
  }
}
@media screen and (max-width: 1600px) {
  #mainvisual .mv__catchcopy__desc .br-sp {
    display: block;
  }
}
#mainvisual #main_img {
  width: 58%;
  height: 92vh;
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
@media screen and (max-width: 767px) {
  #mainvisual #main_img {
    width: 100%;
    height: 40vh;
  }
}

@keyframes reveal {
  0% {
    -webkit-clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
    /* 初期状態では左側が見えない */
  }
  100% {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    /* 最終状態で全体が表示される */
  }
}
/* フェードイン */
.fade-in {
  animation: fadeInLeft 1s forwards;
  /* アニメーションを適用 */
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    /* 初期状態: 透明 */
    transform: translate(-20px, -50%);
    /* 左に少し移動 */
  }
  100% {
    opacity: 1;
    /* 最終状態: 不透明 */
    transform: translate(0, -50%);
    /* 元の位置に戻る */
  }
}
/*------------------------------------------------------------
Gallery
------------------------------------------------------------*/
#gallery {
  padding: 100px 0 40px;
}
@media screen and (max-width: 1024px) {
  #gallery {
    padding: 80px 0 40px;
  }
}
@media screen and (max-width: 767px) {
  #gallery {
    padding: 50px 0 40px;
  }
}
#gallery .gallery__swiper {
  width: 100%;
  margin: auto;
}
#gallery .gallery__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#gallery .gallery__swiper .swiper-slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
}
#gallery .gallery__swiper .swiper-button-next,
#gallery .gallery__swiper .swiper-button-prev {
  color: #007bff;
}
#gallery .gallery__swiper .swiper-pagination {
  position: relative;
  margin-top: 20px;
}

/*------------------------------------------------------------
Service
------------------------------------------------------------*/
.service__content__box {
  display: flex;
  flex-direction: column;
  gap: 130px;
}
@media screen and (max-width: 1024px) {
  .service__content__box {
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .service__content__box {
    gap: 20px;
  }
}
.service__content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .service__content {
    gap: 20px;
  }
}
.service__content:nth-child(1) .title02 {
  margin-bottom: 1.25rem !important;
}
.service__content:nth-child(2) {
  flex-direction: row-reverse;
}
.service__content:nth-child(3) p {
  margin-bottom: 2em;
}
.service__half {
  width: 48%;
}
@media screen and (max-width: 1024px) {
  .service__half {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .service__img-box {
    display: flex;
    justify-content: center;
  }
}
.service__logo-box {
  max-width: 150px;
  margin-bottom: 1em;
}
@media screen and (max-width: 767px) {
  .service__logo-box {
    max-width: 130px;
  }
}

/*------------------------------------------------------------
NEWS
------------------------------------------------------------*/
.news__list__box,
#news__list__box {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 3em;
  flex-wrap: wrap;
}
.news__list,
#news__list {
  width: 30.86%;
}
@media screen and (max-width: 1210px) {
  .news__list,
  #news__list {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .news__list,
  #news__list {
    width: 100%;
  }
}
.news__list a:hover,
#news__list a:hover {
  opacity: 0.7;
}
.news__list .news__img,
#news__list .news__img {
  margin-bottom: 1em;
  height: 260px;
  max-width: 330px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1024px) {
  .news__list .news__img,
  #news__list .news__img {
    width: 100%;
    max-width: initial;
  }
}
.news__list .date-area,
#news__list .date-area {
  font-weight: 400;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row-reverse;
}
.news__list .date-area p,
#news__list .date-area p {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  background-color: #eaeaea;
  padding: 0px 20px;
  margin: 0px 5px 0 0;
}
.news__list .news__article__title,
#news__list .news__article__title {
  font-size: 1.125rem;
}
@media screen and (max-width: 1024px) {
  .news__list .news__article__title,
  #news__list .news__article__title {
    font-size: 1rem;
  }
}
.news .btn01,
#news .btn01 {
  margin: 0 auto !important;
}

/*------------------------------------------------------------
ABOUT
------------------------------------------------------------*/
#about .wrapper {
  max-width: 100%;
}
#about .contents {
  position: relative;
}
#about .contents .overlay {
  position: relative;
  display: inline-block;
  z-index: -2;
}
#about .contents .overlay::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 234, 252, 0.35);
  pointer-events: none;
}
#about .contents #about_img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -2;
  position: relative;
}
#about .contents #about_text {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 30px;
  display: none;
}
#about .contents #about_text_tb {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  bottom: -176px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: none !important;
}
#about .contents #about_text_sp {
  width: 100%;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  bottom: -176px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: none !important;
}
#about .contents .about-content {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9607843137);
  padding: 40px;
  justify-content: center;
  max-width: 900px;
  width: 97vw;
}
@media screen and (max-width: 767px) {
  #about .contents .about-content {
    padding: 25px 15px;
    transform: translate(-50%, -20%);
  }
}
#about .contents .about-content-text {
  line-height: 2.125em;
}
@media screen and (max-width: 1210px) {
  #about .contents .about-content-text {
    font-size: 1rem;
  }
}
#about .contents .about-content-text .bold {
  font-size: 1.25rem;
  font-weight: bold;
}
@media screen and (max-width: 1210px) {
  #about .contents .about-content-text .bold {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 640px) {
  #about #about_text {
    display: none !important;
  }
  #about #about_text_tb {
    display: block !important;
  }
}
@media screen and (max-width: 414px) {
  #about #about_text {
    display: none !important;
  }
  #about #about_text_tb {
    display: none !important;
  }
  #about #about_text_sp {
    display: block !important;
  }
}
/*------------------------------------------------------------
BUSINESS
------------------------------------------------------------*/
#business .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (max-width: 1024px) {
  #business .flex {
    flex-direction: column;
    margin: 0 10px;
  }
}
#business .flex .item {
  text-align: center;
  position: relative;
}
#business .flex .item .img-container {
  overflow: hidden;
  box-shadow: 2px 1px 5px 0px #93ccf7;
  border-radius: 10px;
}
#business .flex .item .img-container img {
  width: 40vw;
  max-width: 560px;
  border-radius: 10px;
  transition: 1.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}
#business .flex .item .img-container img:hover {
  scale: 1.1;
}
@media screen and (max-width: 1024px) {
  #business .flex .item .img-container img {
    width: 100%;
    max-width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
#business .flex .item p {
  background: #aceaf2;
  position: absolute;
  bottom: 0px;
  padding: 10px 30px;
  border-radius: 0 10px 0 10px;
  color: #595959;
  background: #657EBD;
  color: white;
}
@media screen and (max-width: 1210px) {
  #business .flex .item p {
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
COMPANY
------------------------------------------------------------*/
#company .company_date {
  display: flex;
  justify-content: space-between;
  margin: 0 25px 100px 25px;
  background-color: white;
}
@media screen and (max-width: 1024px) {
  #company .company_date {
    flex-direction: column;
    margin: 0 10px;
  }
}
#company .company_date .info {
  display: flex;
  justify-content: end;
  align-items: start;
  flex-wrap: wrap;
  width: 50%;
  padding: 30px 0px 0px 10%;
}
@media screen and (max-width: 1024px) {
  #company .company_date .info {
    width: 100%;
    padding: 60px 0 40px;
    justify-content: center;
  }
}
#company .company_date .info dt {
  width: 20%;
}
@media screen and (max-width: 1024px) {
  #company .company_date .info dt {
    width: 21%;
  }
}
#company .company_date .info dd {
  width: 80%;
}
@media screen and (max-width: 1024px) {
  #company .company_date .info dd {
    width: 60%;
  }
}
#company .company_date .info dt,
#company .company_date .info dd {
  padding-bottom: 20px;
}
#company iframe {
  border: solid;
  width: 50%;
}
@media screen and (max-width: 1024px) {
  #company iframe {
    width: 100%;
  }
}

/*------------------------------------------------------------
Company
------------------------------------------------------------*/
table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px auto 0;
}
table th,
table td {
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 26px;
}
@media screen and (max-width: 767px) {
  table th,
  table td {
    font-size: 0.875rem;
    padding: 26px 10px;
  }
}
table th:first-child,
table td:first-child {
  width: 20%;
}
table th {
  font-weight: bold;
}
table td {
  font-weight: 500;
}

/*------------------------------------------------------------
Overview
------------------------------------------------------------*/
.contact__form {
  max-width: 600px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .contact__form {
    margin: 0 auto 40px;
  }
}
.contact__form .form-group {
  margin-bottom: 20px;
}
.contact__form .form-group label {
  color: #33475b;
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
.contact__form .form-group input,
.contact__form .form-group textarea {
  color: #33475b;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f8fa;
}
.contact__form .form-group input:focus,
.contact__form .form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}
.contact__form .privacy-policy {
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__form .privacy-policy .privacy-policy-link {
  color: #007bff;
  font-weight: 500;
}
.contact__form .privacy-policy .privacy-policy-link:hover {
  text-decoration: underline;
}
.contact__form .privacy-policy .checkbox-group label {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__form .privacy-policy .checkbox-group label input {
  margin-right: 5px;
}
.contact__form .name-group {
  display: flex;
  gap: 40px;
}
.contact__form .name-group__box {
  width: 50%;
}
.contact__form .required {
  color: red;
}

.contact__submit {
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  color: white;
  background: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 4px;
  width: 100%;
  max-width: 240px;
  margin: auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.contact__submit:hover {
  color: #ff7a59;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */